@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-hover {
    @apply hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none;
  }
  .menu-mobile-click {
      @apply text-accent opacity-80;
  }
  .hero-bg-img {
    background-image: url('./images/backgrounds/home_hero_bg.jpg');
  }
  .contact-us-bg {
    background-image: url('./images/backgrounds/contact_bg.png');
  }
  .sub-hero-bg {
    background-image: url('./images/backgrounds/subheader_bg.jpg');
  }
  .accordionHover {
    @apply hover:text-accent
    relative before:content-[''] before:absolute before:block before:w-[50%] before:h-[2px] 
    before:bottom-0 before:left-0 before:bg-accent
    before:hover:scale-x-100 before:scale-x-0 before:origin-top-left
    before:transition before:ease-in-out before:duration-300
  }
  .accordion-header {
    @apply py-4 px-6 cursor-pointer;
}
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background;
  @apply text-white;
  font-family: 'Poppins', sans-serif;
}
