@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-hover {
    @apply hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none;
  }
  .menu-mobile-click {
      @apply text-accent opacity-80;
  }
  .hero-bg-img {
    background-image: url('./images/backgrounds/home_hero_bg.jpg');
  }
  .contact-us-bg {
    background-image: url('./images/backgrounds/contact_bg.png');
  }
}

body {
  @apply bg-background;
  @apply text-white;
  font-family: 'Poppins', sans-serif;
}
